/* Awesome Colors */

/*\\\\\\\\\\\\ FASHION \\\\\\\\\\\\*/

/* spring 2012 */
.bellflower {
	color: #966EAA;
}
.margarita {
	color: #B6CC94;
}
.solar-power {
	color: #FECC4E;
}
.sodalite-blue {
	color: #0C336D;
}
/* fall 2012 */
.oxblood {
	color: #4A0000;
}


/*\\\\\\\\\\\\ PANTONE \\\\\\\\\\\\*/

/* pantone 2009 */
.mimosa {
	color: #F0C05A;
}

/* pantone 2012 */
.tangerine-tango {
	color: #E1523D;
}